.block{
    position: relative;
    height: 100%;
}

.sheet{
    width: 290px;
    height: 65%;
    border-radius: 10px;
}

.header{
    width: 90%;
    height: 18%;
    padding: 0 10px;
    border-bottom: 1px solid #333;
}

.txt-1{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    width: 95%;
    height: 80%;
    margin: 0 1.5%;
}

.section-content{
    width: 100%;
}

.btn{
    width: 55px;
    height: 55px;
    margin: 10px 0;
    font-size: 1.2em;
}

#enter{
    border: 1px solid #60b1fd;
}

.numbers{
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 800px) and (max-height: 1000px) {

    .section{
        height: 75%;
    }

    .sheet{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .section-content{
        width: 100%;
    }

    .grid{
        width: 100%;
    }
}

@media (max-width: 800px) and (max-height: 1000px){
    .txt-1{
        font-size: 45px
    }

    .section-content{
        width: 80%;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 100px;
        height: 100px;
        font-size: 25px;
    }
}

@media (max-width: 792px) and (max-height: 819px) {
    .section-content{
        width: 65%;
        height: 90%;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5.9rem, 1fr));
        gap: 10px;
    }

    .btn{
        width: 93px;
        height: 93px;
        font-size: 25px;
    }
}

@media (max-width: 699px) and (max-height: 1000px){
    .txt-1{
        font-size: 45px
    }

    .section-content{
        width: 65%;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
}

@media (max-width: 605px) and (max-height: 1000px){
    .txt-1{
        font-size: 45px
    }

    .section-content{
        width: 80%;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
}

@media (max-width: 490px) and (max-height: 1000px){
    .txt-1{
        font-size: 45px
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
}

@media (max-width: 414px) and (max-height: 1000px) {
    .txt-1{
        font-size: 45px
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
}

@media (max-width: 412px) and (max-height: 1000px) {
    .txt-1{
        font-size: 45px
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
}

@media (max-width: 375px) and (max-height: 1000px) {
    .txt-1{
        font-size: 40px
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
}

@media (max-width: 360px) and (max-height: 740px) {
    .txt-1{
        font-size: 35px
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
        gap: 15px;
    }

    .btn{
        width: 65px;
        height: 65px;
        font-size: 25px;
    }
}